body{
  margin:0;
  font-family: "Comic Sans MS";
}
a{
  text-decoration:none;
}

.container{
width:1170px;
  padding-left:15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;  
}

.top-layer{
  padding-top: 180px;
  padding-bottom:100px;
  color:white;
  opacity:0.9;
  background-image: url(https://i.ibb.co/r7KJrp0/technology-trends-in-2020.jpg);
  background-size: 1600px 350px;
}

.top-layer h1{
  opacity:0.9;
  font-size: 45px;
  letter-spacing: 1px;
  margin-bottom:10px;
  text-align:right;
}
.top-layer p{
opacity:0.5;
margin-bottom:5px;
  text-align:right;
}

.mid-layer p{

margin-bottom:5px;
  text-align:center;
  font-size: 30px;
}
.mid-layer h5{
 text-align:center;
  font-size: 15px; 
}



header{
  height:100px;
  width: 100%;
  background-color: white;
}



.logo{
  height: 100px;
  width:500px;
  margin-top:10px;
}
.logo1{
  height:300px;
  width:300px;
  margin-left: 600px;

}
.text p{
  font-size: 30px;
}
